/* Navbar Font Link Start */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

/* Navbar Font Link Snd */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .navbar-font {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
} */
